{{ ansible_managed | comment }}
Username {{ cntlm_username }}
Domain {{ cntlm_domain }}
Proxy {{ cntlm_proxy }}
Listen {{ cntlm_listen }}
{{ generate_hash.stdout_lines[3] }}
NoProxy {{ cntlm_noproxy }}
