{{ ansible_managed | comment }}
Username {{ cntlm_username }}
Domain {{ cntlm_domain }}
Proxy {{ cntlm_proxy }}
Listen {{ cntlm_listen }}
PassNTLMv2 {{ generate_hash.results.stdout_lines[2] }}
NoProxy {{ cntlm_noproxy }}
